data/COHA.zip
data/SWOW_prediction/data_coha_0.pkl
data/SWOW_prediction/data_coha_1.pkl
data/SWOW_prediction/data_coha_2.pkl
data/SWOW_prediction/data_coha_3.pkl
data/SWOW_prediction/data_coha_4.pkl
data/SWOW_prediction/data_coha_5.pkl
data/SWOW_prediction/data_coha_6.pkl
data/SWOW_prediction/data_coha_7.pkl
data/SWOW_prediction/data_coha_8.pkl
data/SWOW_prediction/data_coha_9.pkl
data/SWOW_prediction/data_coha_10.pkl
data/SWOW_prediction/data_coha_11.pkl
data/SWOW_prediction/data_coha_12.pkl
data/SWOW_prediction/data_coha_13.pkl
data/SWOW_prediction/data_coha_14.pkl
data/SWOW_prediction/data_coha_15.pkl
*.log
__pycache__/
.ipynb_checkpoints/